.navbar{
    background: #fee5fb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h2{
    margin-left: 2rem;
    padding: 0;
    color: #544987;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar li{
    margin: 0;
    margin-right: 2rem;
}

.navbar a{
    text-decoration: none;
    color: #9584E0;
}

.navbar a:hover,
.navbar a:active{
    color: #7c6ebc;
}

.navbar button {
    font: inherit;
    background: #E3BCF3;
    border: 1px solid #E3BCF3;
    padding: 0.5rem 1.5rem;
    margin: .5rem 0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 0.5rem;
}

.navbar button:hover,
.navbar button:active{
    background: #b18ebf;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

@media (max-width: 600px) {
    .navbar h2{
        font-size: 17px;
        margin-left: 0.5rem;
        margin-right: 0.8rem;
    }
    .navbar li{
        margin-right: 0.8rem;
    }
    .navbar button{
        padding: 0.2rem 0.5rem;
    }
}