.login-container{
    max-width: 50rem;
    min-height: 25rem;
    background: #F8F8FF;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login-container img{
    max-width: 25rem;
}

.login-container form{
    background: #f9eaf9;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
}

.login-container form input{
    margin: 0.5rem 0;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 0.4rem;
    padding: 0.3rem;
}

input:focus{
    outline: none;
}

