.login-container{
    max-width: 50rem;
    min-height: 25rem;
    background: #F8F8FF;
    box-shadow: 6px 6px 12px -5px rgba(0,0,0,0.75);
    margin: 0 auto;
    padding: 0.5rem;
    position: relative;
    top: 50%;
    transform: translateY(40%);
    display: flex;
}

.login-container img{
    width: 100%;
    max-width: 25rem;
}

.login-container form{
    background: #f9eaf9;
    padding: 1rem;
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
}

.login-container form input{
    margin: 0.5rem 0;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 0.4rem;
    padding: 0.3rem;
}

input:focus{
    outline: none;
}

.invalid{
    border-color: red;
    background: #fbdada;
}

@media (max-width: 600px){
    .login-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        transform: translateY(8%);
    }
}
